.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

  .label {
    font-size: small;
    padding-left: 5px;
    padding-bottom: 3px;
    width: 100%;
  }

  .inputPass {
    position: relative;
    .input {
      background-color: #f2f2f2;
      border: none;
      padding: 7px;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 5px;

      &:focus {
        outline: none;
        border: 1px solid #017bff;
      }
    }
  }

  .eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .errorMsg {
    color: red;
    margin-top: 3px;
    margin-left: 5px;
    font-size: small;
    letter-spacing: 1.3;
  }
}
