@use "../../assets/styles/entry" as *;

.container {
  background-color: white;
  height: 100vh;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  flex: 1;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h1 {
      font-size: 1.8rem;
    }

    .menuIcon {
      position: relative;

      .menuCont {
        background: white;
        position: absolute;
        right: 0;
        width: 170px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;

        .menuItemCont {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          justify-content: center;
          align-items: center;

          .menuItems {
            display: flex;
            gap: 20px;
            align-items: center;
            width: 80%;
            justify-content: center;
            padding: 5px 8px;
            border-radius: 6px;

            &:hover {
              background: $gray-100;
            }

            svg {
              flex-shrink: 0;
            }
          }
        }
      }

      @include respond("md") {
        display: none;
      }
    }
  }

  .profilePhoto {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    @include respond("md") {
      display: none;
    }
  }
}

.msgWrapper {
  display: none;

  @include respond("md") {
    display: flex;
  }
}
