@use "../../assets/styles/entry" as *;

.wrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .leftContainer {
    width: 100%;
    max-width: 448px;

    .leftContainerWrapper {
      border: 1px solid $slate-300;
      padding: 1.5rem;
      border-radius: 1rem;
      background: white;
    }

    .imageContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      .imagePadding {
        padding: 10px;
      }

      img {
        border: 1px solid rgb(218, 216, 216);
        height: 150px;
        width: 150px;
        border-radius: 30%;
        object-fit: cover;
        overflow: hidden;
      }
    }

    .fileInputContainer {
      width: 100%;
      display: flex;
      justify-content: center;

      .fileInput {
        display: none;
      }

      .fileBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0.5rem 1rem; // py-2 px-4
        background: #e8e6e6;
        color: #383737; // text-white
        border-radius: 0.5rem; // rounded-lg
        font-size: 0.857rem;
        font-weight: 700;
      }
    }

    .inputContainer {
      > * {
        margin: 1rem 0;
      }

      .label {
        font-size: medium;
        font-weight: 600;
        margin-bottom: 3px;
        margin-left: 1px;
      }

      .inputWrapper {
        width: 100%;
        display: flex;
        align-items: flex-end;
        gap: 30px;

        .input {
          flex: 1;
        }

        .btnCont {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $gray-100;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #c4c3c3;
          margin-bottom: 5px;
        }

        .icon {
          height: 25px;
          width: 25px;
          cursor: pointer;
        }
      }
    }

    .saveBtn {
      width: 100%;
      text-align: end;
      margin-top: 20px;
      .btn {
        padding: 8px 16px;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        border: none;
        transition: all 0.2s ease;

        &.danger {
          background: $color-primary;
          color: #fff;
        }
      }
    }

    .btnBack {
      display: flex;

      @include respond("md") {
        display: none;
      }
    }

    @include respond("md") {
      width: 45%;
    }

    .signOutBtn {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #f14444;
      color: white;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ed4e4e;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .impChat {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 0px 30px;
    line-height: 40px;
  }
}
