@use "../../assets/styles/entry" as *;

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: white;
    width: 100%;
    border-bottom: 1px solid $gray-300;
    padding: 5px 10px;

    h1 {
      font-size: 1.8rem;
    }

    .menuIcon {
      position: relative;
      padding: 10px 15px;

      .menuCont {
        background: white;
        position: absolute;
        right: 0;
        width: 170px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;

        .menuItemCont {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          justify-content: center;
          align-items: center;

          .menuItems {
            display: flex;
            gap: 20px;
            align-items: center;
            width: 80%;
            justify-content: center;
            padding: 5px 8px;
            border-radius: 6px;

            &:hover {
              background: $gray-100;
            }

            svg {
              flex-shrink: 0;
            }
          }
        }
      }

      @include respond("md") {
        display: none;
      }
    }
    @include respond("md") {
      display: none;
    }
  }

  .profileHeader {
    text-align: center;
    margin: 20px 0px;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      color: $slate-900;
    }

    p {
      font-size: 1rem;
      color: $slate-600;
      max-width: 400px;
    }
  }

  .leftContainer {
    width: 100%;
    max-width: 448px;
    padding: 20px;

    .leftContainerWrapper {
      border: 1px solid $slate-300;
      padding: 1.5rem;
      border-radius: 1rem;
      background: white;
    }

    .imageContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      .imagePadding {
        padding: 10px;
      }

      img {
        border: 1px solid rgb(218, 216, 216);
        height: 150px;
        width: 150px;
        border-radius: 30%;
        object-fit: cover;
        overflow: hidden;
      }
    }

    .fileInputContainer {
      width: 100%;
      display: flex;
      justify-content: center;

      .fileInput {
        display: none;
      }

      .fileBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0.5rem 1rem; // py-2 px-4
        background: #e8e6e6;
        color: #383737; // text-white
        border-radius: 0.5rem; // rounded-lg
        font-size: 0.857rem;
        font-weight: 700;
      }
    }

    .inputContainer {
      > * {
        margin: 1rem 0;
      }

      .label {
        font-size: medium;
        font-weight: 600;
        margin-bottom: 3px;
        margin-left: 1px;
      }

      .inputWrapper {
        width: 100%;
        display: flex;
        align-items: flex-end;
        gap: 30px;

        .input {
          flex: 1;
        }

        .btnCont {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $gray-100;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #c4c3c3;
          margin-bottom: 5px;
        }

        .icon {
          height: 25px;
          width: 25px;
          cursor: pointer;
        }
      }
    }

    .saveBtn {
      width: 100%;
      text-align: end;
      margin-top: 20px;

      .btn {
        padding: 8px 16px;
        border-radius: 8px;
        font-size: 14px;
        cursor: pointer;
        border: none;
        transition: all 0.2s ease;

        &:disabled {
          background-color: $violet-400;
        }

        &.danger {
          background: $color-primary;
          color: #fff;
        }
      }
    }

    .btnBack {
      display: flex;

      @include respond("md") {
        display: none;
      }
    }

    .signOutBtn {
      display: flex;
      align-items: center;
      gap: 10px;
      background: #f14444;
      color: white;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ed4e4e;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    @include respond("md") {
      padding: 0px;
    }
  }

  .impChat {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 0px 30px;
    line-height: 40px;
  }

  height: 100vh;

  @include respond("md") {
    height: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
