@use "../../assets/styles/entry" as *;

.container {
  height: 100vh;
  min-height: 0;
  background: $color-white;
  margin-right: 10px;
  display: none;

  .containerWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0px 10px;

    .iconContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .lowerContainer {
        height: 100%;
        display: flex;
        align-items: flex-end;
      }

      .upperContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.2s ease-in;
        margin-bottom: 10px;

        .profilePhoto {
          height: 38px;
          width: 38px;
          border-radius: 50%;
          object-fit: cover;
          border: 2px solid transparent;
        }

        .activePhoto {
          border-color: $color-primary;
        }

        .text {
          color: $gray-600;
          font-size: small;
          letter-spacing: 0.3px;
          line-height: 20px;
          min-width: 60px;
          text-align: center;
        }

        .activeText {
          font-weight: 600;
        }

        .iconStyle {
          color: $color-icon;
        }

        .iconStyleActive {
          color: $color-primary;
        }
      }
    }
  }

  @include respond("md") {
    display: flex;
  }
}
